
/* -- GLOBAL SETTINGS -- */

html * {
  line-height: 1;
  font-family: Arial, sans-serif;
}


/* -- TEXT STYLING -- */

/* Regular text */
p {
  margin-top: 10px;
  margin-bottom: 0px;
  /* pixels = points + 4, e.g. 12pt -> 16px */
  font-size: 18px;
}

/* **Bold text** */
b, strong {

}

/* *Italics text* */
i, em {

}

/* Links, URLS */
a {

}

/* > Quote text */
blockquote {

}

/* `inline code` ```block code``` */
code {

}

/* -- TEXT HEADERS / TITLES -- */

/* # Header */
h1 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

/* ## Header */
h2 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

/* ### Header */
h3 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

/* #### Header */
h4 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}

/* ##### Header */
h5 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  line-height: 0;
}


/* -- BULLET POINTS / LISTS -- */

/* Bullet point containers */
ul, ol {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Bullet point individual elements */
li {

}


/* -- TABLES -- */

/* Table main container */
table {
  border: 1.5px solid black;
  border-collapse: collapse;
}

/* Table column headings */
th {
  border: 1px solid black;
}

/* Table cells */
td {
  border: 1px solid black;
}


/* -- IMAGES -- */

img {
  max-width: 100%;
  max-height: auto;
}
